/*
 *
 * CSS written based on SMACSS architecture.
 * To learn more, visit: http://smacss.com/
 * 
 * For simplicity, no reset or normalize is added. 
 * To learn more, visit: https://css-tricks.com/reboot-resets-reasoning/
 *
*/

/* ---- Base Rules ---- */
body {
  background: rgb(2, 179, 228);
  margin: 0;
  font-family: "Cantarell", sans-serif;
  color: #fff;
}

/* Typeography General*/
h1 {
  font-size: 3em;
  margin: 1em 2em;
  margin-bottom: 0;
}

@media only screen and (min-width: 35em) {
  h1 {
    font-size: 7em;
  }
}

h2 {
  border-bottom: 1px solid #fff;
  font-size: 3em;
  color: #fff;
}

#subtitle {
  margin: 0;
  margin-left: 45.6%;
}

p {
  line-height: 1.6em;
  color: #eee;
}

/* ---- Layout Rules ---- */
main {
  margin: 10vh 1em 10vh;
}

.main__hero {
  min-height: 80vh;
  padding-top: 3em;
  border-bottom: 1px solid #fff;
}

section {
  position: relative;
  min-height: 100vh;
  padding: 0 8em;
}

/* ---- Module Rules ---- */

/* Navigation Styles*/
.navbar__menu ul {
  padding-left: 0;
  margin: 0;
  text-align: right;
}

.navbar__menu li {
  display: inline-block;
}

.navbar__menu .menu__link {
  display: block;
  padding: 1em;
  font-weight: bold;
  text-decoration: none;
  color: rgb(2, 179, 228);
}

.navbar__menu .menu__link:hover,
.menu__item__active {
  background: rgb(2, 179, 228);
  color: #fff !important;
  transition: ease 0.3s all;
}

/* Header Styles */
.page__header {
  background: #fff;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 5;
}

/* Footer Styles */
.page__footer {
  background: #fff;
  padding: 1em;
  color: rgb(2, 179, 228);
}

.page__footer p {
  color: rgb(2, 179, 228);
  text-align: center;
}

/* ---- Theme Rules ---- */
/* Landing Container Styles */
.landing__container {
  padding: 1em;
  text-align: left;
}

ol {
  direction: rtl;
}

#go__top {
  text-decoration: none;
  color: rgb(2, 179, 228);
  background-color: #fff;
  padding: 1em;
  position: fixed;
  bottom: 7em;
  left: 4em;
}

@media only screen and (min-width: 35em) {
  .landing__container {
    max-width: 50em;
    padding: 4em;
  }
}

section:nth-of-type(even) .landing__container {
  margin-right: 0;
  margin-left: auto;
  text-align: right;
}

/* ---- Theme State Rules ---- */
/* Section Active Styles */
/* Note: your-active-class class is applied through javascript. You should update the class here and in the index.html to what you set in your javascript file.  */
.active__section {
  background-color: #fff;
  background: linear-gradient(
    0deg,
    rgba(255, 255, 255, 0.2) 0%,
    rgba(255, 255, 255, 0.2) 100%
  );
}
